<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WaterBilling - Dashboard</title>

     <!--Tabulator extensions CSS-->
    <link href="../static/tabulator/dist/css/tabulator_site.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../static/css2/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="../static/css/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="adminpanel.html">WaterBilling</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-4">
          <li class="nav-item dropdown no-arrow" style="margin-top: 10px; color: white">
            <h6>Welcome, Alex Mendoza </h6>
            </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminbill.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Monthly Bill</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminBsettings.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Billing Settings</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Latest Added Bills</li>
          </ol>

          <!-- Page Content -->
          <div id="example-table"></div>

           <ol class="breadcrumb" style="margin-top: 20px">
            <li class="breadcrumb-item active">Unpaid Bills</li>
          </ol>
          <div id="example-table1"></div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © WaterBilling 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="adminpanel.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>

    <!--Tabulator extensions CSS-->
    <script type="text/javascript" src="../static/tabulator/dist/js/tabulator.min.js"></script>
    <!--<script type="text/javascript" src="../static/tabulator/dist/js/modules/format.min.js"></script>-->
    <script type="text/javascript" src="../static/js/moment.js"></script>


  </body>

<script>
    var table = new Tabulator("#example-table", {
 	height:311, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
    responsiveLayout:"hide",
 	layout:"fitColumns", //fit columns to width of table (optional)
 	columns:[ //Define Table Columns
	 	{title:"Lastname", field:"lastname", width:150},
        {title:"Firstame", field:"firstname", width:150},
	 	{title:"Month( MM/DD/YYYY )", field:"month", align:"center", sorter:"date", sorterParams:{format:"MM/DD/YYYY"}},
	 	{title:"Reading", field:"reading", width:100, sorter:"number"},
        {title:"cuM Used", field:"cubicM", width:100, sorter:"number", align:"center"},
        {title:"Ammount", field:"amount", width:120, formatter:"money", formatterParams:{symbol:"₱"}, sorter:"number"},
	 	{title:"Due Date ( MM/DD/YYYY )", align:"center", field:"due"}
 	],
 	rowClick:function(e, row){ //trigger an alert message when the row is clicked
 		alert("Row " + row.getData().id + " Clicked!!!!");
 	},
});

    var table1 = new Tabulator("#example-table1", {
 	height:311, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
 	layout:"fitColumns", //fit columns to width of table (optional)
 	columns:[ //Define Table Columns
	 	{title:"Lastname", field:"lastname", width:150},
        {title:"Firstame", field:"firstname", width:150},
	 	{title:"Month( MM/DD/YYYY )", field:"month", align:"center", sorter:"date", sorterParams:{format:"MM/DD/YYYY"}},
	 	{title:"Reading", field:"reading", width:100, sorter:"number"},
        {title:"cuM Used", field:"cubicM", width:100, sorter:"number", align:"center"},
        {title:"Ammount", field:"amount", width:120, formatter:"money", formatterParams:{symbol:"₱"}, sorter:"number"},
	 	{title:"Due Date ( MM/DD/YYYY )", align:"center", field:"due"}
 	],
 	rowClick:function(e, row){ //trigger an alert message when the row is clicked
 		alert("Row " + row.getData().id + " Clicked!!!!");
 	},
});
    //define some sample data
var tabledata = [
	{id:1, firstname:"Joren Mundane",   lastname:"Pacaldo",     month:"02/21/2019", reading:"3012", amount:"4191.2", due:"01/25/2018", cubicM:"23"},
	{id:2, firstname:"Arthur",          lastname:"Navaro",      month:"03/22/2019", reading:"3112", amount:"321.1", due:"01/25/2018", cubicM:"12"},
	{id:3, firstname:"Iris",            lastname:"Ebale",       month:"02/23/2019", reading:"3213", amount:"231", due:"01/25/2018", cubicM:"24"},
	{id:4, firstname:"Jocelyn",         lastname:"Pacaldo",     month:"02/24/2017", reading:"3122", amount:"332", due:"01/25/2018", cubicM:"15"},
	{id:5, firstname:"Renato",          lastname:"Pacaldo",     month:"02/25/2018", reading:"3092", amount:"431", due:"01/25/2018", cubicM:"19"},
    {id:6, firstname:"Joren Mundane1",   lastname:"Pacaldo1",   month:"03/26/2018", reading:"3012", amount:"4191.2", due:"01/25/2018", cubicM:"22"},
	{id:7, firstname:"Arthur1",          lastname:"Navaro1",    month:"03/27/2018", reading:"3112", amount:"321.1", due:"01/25/2018", cubicM:"20"},
	{id:8, firstname:"Iris1",            lastname:"Ebale1",     month:"03/23/2018", reading:"3213", amount:"231", due:"01/25/2018", cubicM:"16"},
	{id:9, firstname:"Jocelyn1",         lastname:"Pacaldo1",   month:"03/01/2018", reading:"3122", amount:"332", due:"01/25/2018", cubicM:"18"},
	{id:10, firstname:"Renato1",          lastname:"Pacaldo1",  month:"04/25/2018", reading:"3092", amount:"431", due:"01/25/2018", cubicM:"30"},
];

//load sample data into the table
table.setData(tabledata);
table1.setData(tabledata);

</script>
</html>
