<!DOCTYPE html>
<html>
<head>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <!--Tabulator extensions-->
    <link href="../static/tabulator/dist/css/tabulator_site.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/tabulator/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="../static/tabulator/dist/js/modules/format.min.js"></script>
    <script type="text/javascript" src="../static/js/moment.js"></script>

</head>
<body>
    <div id="example-table"></div>

</body>

<script>
    var table = new Tabulator("#example-table", {
        ajaxResponse:function(url, params, response){
        return response.entries;
    },
 	height:310, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
 	layout:"fitColumns", //fit columns to width of table (optional)
 	columns:[ //Define Table Columns
	 	{title:"Firstname", field:"firstname", width:150},
	 	{title:"Last Name", field:"lastname", align:"left"},
	 	{title:"Mobile Number", field:"mobile_number"},
	 	{title:"Admin Prev", field:"admin_prev", align:"center"}
 	],
 	rowClick:function(e, row){ //trigger an alert message when the row is clicked
 		alert("Row " + row.getData().id + " Clicked!!!!");
 	},
    });

    var tabledata = [
	{id:"1", name:"entries.firstname", col:"red", amount:"1000"},
    {id:"2", name:"entries.lastname", col:"blue", amount:"2000"},
    {id:"3", name:"Oli Bob3", "age":"13", col:"green", dob:"03/03/2016", "amount":"3000"},
	// {id:2, name:"Mary May", age:"1", col:"blue", dob:"02/03/1982"},
	// {id:3, name:"Christine Lobowski", age:"42", col:"green", dob:"03/05/1982"},
	// {id:4, name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
	// {id:5, name:"Margret Marmajuke", age:"16", col:"yellow", dob:"06/01/1999"},
    ];

table.setData("http://localhost:8080/dashboard/1");
</script>


</html>